@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.footer {
    background-color: gray;
    padding-bottom: 5%;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.navbar {
    background-color: #293b5f;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}

.main {
    background-color: #f5f5f5;
}

.main button {
    background-color: #0e2238;
    color: #fff;
    border-radius: 5;
}

.non-card {
    background-color: #fff;
    margin-bottom: 1rem;
}

.non-card p {
    padding-left: 20px;
}

.card {
    transition: .4s;
    cursor: pointer;
    margin-bottom: 1rem;
}

.card:hover {
    background-color: #293b5f;
    color: #fff;
    transform: translateY(-10.5px);
}

@media (min-width: 768px) {}

.content {
    padding: 20px;
  }
  
  .internship-boxes,
  .exchange-program {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .box {
    width: 30%;
    background-color: #333;
    color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(46, 41, 41);
    border-radius: 30px;
  }
  
  @media screen and (max-width: 600px) {
    .box {
      width: 100%;
    }
  }
  
  .registration-form {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 25px;
  }
  
  .registration-form label {
    
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .registration-form input[type="text"],
  .registration-form select,
  .registration-form input[type="radio"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .registration-form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .registration-form input[type="submit"]:hover {
    background-color: gray;
  }
  
  .faculty-coordinator-box {
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    align-items: center;
  }
  
  .faculty-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 20px;
  }
  
  .faculty-details p {
    color: black;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
footer p {
    color: rgb(0, 0, 0);
    margin: 0;
}

#volunteer-form {
    width: 500px;
}

#volunteer-form label {
    color: #293b5f;
    padding-top: 10px;
    padding-bottom: 10px;
}

#volunteer-form input[type="text"],
#volunteer-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #293b5f;
    box-sizing: border-box;
}

#volunteer-form input[type="radio"] {
    margin-right: 5px;
}

#volunteer-form input[type="submit"] {
    background-color: #293b5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#volunteer-form input[type="submit"]:hover {
    background-color: #1c2d4e;
}


#heading h1 {
    color: white;
    font-size:60px;
}

#heading {
    display: flex;
    height: 350px;
    width: 100%;
    background-color: aqua;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("img/alumni.jpg");
    background-size:cover;
    justify-content: center;
    align-items:center;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#alumni {
    border-right: 2px solid black;
    border-left: 2px solid black;
    height: 125px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:15px;
}

.welcome {
    border-top: 5px solid pink;
    border-bottom: 5px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#weltext {
    height: 125px;
    width: 400px;
    text-align: left;
    margin-bottom: 60px;
}

#welpara {
    height: 125px;
    width: 700px;
}

.final {
    background-color: lightblue;
    border-bottom: 2px solid black;
    height: 1100px;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.final_div {
    height: 500px;
}

#mgtimage {
    background-image: url("img/management.jpg");
    background-size: cover;
    height: 225px;
    width: 500px;
    border-radius: 25px;
    margin-left:95px;
    margin-bottom: 100px;
}

#mgttext {
    height: 225px;
    width: 800px;
    padding: 50px;
    padding-top: 100px;
    margin-right: 95px;
    margin-bottom: 300px;
}

#first {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mentorimage {
    background-image: url("img/mentor.jpg");
    background-size: cover;
    height: 225px;
    width: 500px;
    border-radius: 25px;
    margin-right:95px;
    margin-bottom: 500px;
}

#mentortext {
    height: 225px;
    width: 800px;
    padding: 50px;
    padding-top: 100px;
    margin-left: 95px;
    margin-bottom: 700px;
}

#second {
    display: flex;
    justify-content: center;
    align-items: center;
}

#busiimage {
    background-image: url("img/business.jpg");
    background-size: cover;
    height: 225px;
    width: 500px;
    border-radius: 25px;
    margin-left:95px;
    margin-bottom: 800px;
}

#busitext {
    height: 225px;
    width: 800px;
    padding: 50px;
    padding-top: 100px;
    margin-right: 95px;
    margin-bottom: 1000px;
}

#third {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.connect button {
    justify-content: center;
    align-items: center;
}

.connect h1 {
    padding-top:50px;
    text-align:center;
    margin-bottom:24px;
}

#paragraph {
    margin-top: 25px; 
    font-size: 24px;
    text-align:center;
    margin-bottom: 40px;
    margin: auto;
    width: 800px;
}

.connect-button {
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
    margin-left: 800px;
    margin-top:38px;
    margin-bottom: 40px;
    border-radius:5px;
}

.company-logo {
    scale: 0.4;
}

.placed-table th, .placed-table td {
    padding-right: 100px;
}

.hac-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hackathon-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.hackathon-card h2 {
    margin-top: 0;
}

.hackathon-card p {
    margin-bottom: 10px;
}

.hackathon-card button {
    background-color: #293b5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.hackathon-card button:hover {
    background-color: #001e3d;
}
#navbar{
  height: 50px;
  color: #293b5f;
  padding: 20px;
}

.options label {
    color: #293b5f;
    padding-left: 20px;
    padding-bottom: 10px;
}

.options select {
    width: 100%;
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #293b5f;
    box-sizing: border-box;
    width: 380px;
}

.internship-college, .internship-other {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.internship-college button, .internship-other button {
    background-color: #293b5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.internship-college button:hover, .internship-other button:hover {
    background-color: #001e3d;
}

.profile-option {
    padding-left: 10px;
    height: 30px;
}

.profile-option:hover {
    background-color: rgb(201, 197, 197);

}